<!DOCTYPE html>
<html class="h-full bg-gray-100" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if title %}
      <title>Bookstore - {{title}}</title>
    {% else %}
      <title>Bookstore</title>
    {% endif %}
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="h-full">
    <div class="min-h-full">
      <nav class="bg-gray-800">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <div class="flex h-16 items-center justify-between">
            <div class="flex items-center">
              <div class="flex-shrink-0">
                <img
                  class="h-8 w-8"
                  src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500"
                  alt="Your Company"
                />
              </div>
              <div class="hidden md:block">
                <div class="ml-10 flex items-baseline space-x-4">
                  <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                  <a
                    href="{% url 'index' %}"
                    class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium"
                    aria-current="page"
                  >Books</a
                    >
                    <a
                      href="{% url 'add' %}"
                      class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
                    >Add Book</a
                      >
                    </div>
                  </div>
                </div>
                <div class="hidden md:block"></div>
              </div>
            </div>
          </nav>
          {% block header %}{% endblock header %}
          <main class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
            <div class="flex flex-wrap space-y-2 justify-center">
              {% block content %}{% endblock content %}
            </div>
          </main>
        </div>
      </body>
    </html>
